#body{
    width: 700px;
    background: pink;
}

#bodygallery{
    background: pink;
}

.menu{
    background: rgb(237, 172, 183);
    float: left;
    padding: 5px;
}
.fotos{
    background: #e5e5e5;
    padding: 10px;
}
.clear{
    clear: both;
}
#rodape{
    background: rgb(237, 172, 183);
    text-align: center;
}
.foto{
    width: 900px;
}
.floatr{
    float: right;
}
.floatl{
    float: left;
}