body{
    background: pink;
}
#background1{
    background: #030200;
}
#bodygallery{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.text{
    left: 50%;
    width: 700px;
    position: relative;
    margin-left: -350px;

}
.text img{
    width: 680px;

}
.menu{
    background: rgb(237, 172, 183);

    font-size: 25px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.fotos{
    background: #e5e5e5;
    padding: 10px;
}
.fotos p{
    font-size: 18px;
}
.fotos h1{
    display: flex;
    justify-content: center;
}
.clear{
    clear: both;
}
#rodape{
    background: rgb(237, 172, 183);
    display: flex;
    justify-content: center;
    align-items: center ;
    font-style: italic;

}
.foto{
    width: 900px;
}
.floatr{
    float: right;
}
.floatl{
    float: left;
}
#dov{
        
    display: flex;
    justify-content: center;
}
.textcenter{
    text-align: center;
}
#bordatexto{
    text-align: center;
    border: 4px rgb(237, 172, 183) solid;
}
.gallery-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 1vw;
}
.gallery-items{
    width: 340px;
    height: 340px;
}
.gallery-items img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 10px solid #fff;
    box-shadow: 5px 5px 5px #0006;
}
header{

    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 900;
    color: #000;
}
.img-concert{
    object-fit: cover;
}
