#body{
    width: 700px;
    background: pink;
}
#background1{
    background: #030200;
}
#bodygallery{
    background: pink;
}

.menu{
    background: rgb(237, 172, 183);
    float: left;
    padding: 5px;
}
.fotos{
    background: #e5e5e5;
    padding: 10px;
}
.clear{
    clear: both;
}
#rodape{
    background: rgb(237, 172, 183);
    text-align: center;
}
.foto{
    width: 900px;
}
.floatr{
    float: right;
}
.floatl{
    float: left;
}
#dov{
    display: flex;
    justify-content: center;
}
.textcenter{
    text-align: center;
}
#bordatexto{
    text-align: center;
    border: 4px rgb(237, 172, 183) solid;
}